.pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0; /* Fondo suave */
  }
  
  .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre tarjetas */
  }
  
  .pokemon-card {
    background-color: #ffffff; /* Color blanco para tarjetas */
    border-radius: 15px; /* Bordes más redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    width: 180px; /* Ampliar el ancho de las tarjetas */
    text-align: center;
    margin: 10px;
    padding: 15px; /* Aumentar el padding */
    transition: transform 0.2s, box-shadow 0.2s; /* Transiciones suaves */
  }
  
  .pokemon-card:hover {
    transform: scale(1.05); /* Aumentar el efecto de hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
  }
  
  .pokemon-image {
    max-width: 100px; /* Mantener la imagen contenida */
    border-radius: 10px; /* Bordes redondeados para la imagen */
  }
  
  .pokemon-details {
    font-size: 0.9rem; /* Ajustar tamaño de fuente */
    margin-top: 10px; /* Espacio superior */
  }
  
  .pokemon-type {
    display: inline-block; /* Mostrar tipos en línea */
    margin: 0 5px; /* Espacio entre tipos */
    padding: 5px 10px; /* Padding para el tipo */
    border-radius: 12px; /* Bordes redondeados */
    background-color: #e0e0e0; /* Color de fondo suave */
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination-button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination-button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
  }
  
  .pagination-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  